aiohttp==3.10.10
beautifulsoup4==4.12.3
black==24.10.0
ipykernel==6.29.5
jupyter==1.1.1
matplotlib==3.9.2
numpy==1.26.4
openai==1.54.3
pandas==2.2.3
pyarrow==18.1.0
pydantic==2.9.2
requests==2.32.3
ruff==0.7.1
scipy==1.14.1
seaborn==0.13.2
statsmodels==0.14.4
xai-sdk==1.6.0
